<!-- <div>

<h1>Sample popup </h1>

<button class="btn btn-lg btn-outline-primary" (click)="openDialog()">Add</button>

<ng-template #mymodal let-modal>
  <div class="modal-dialog modal-lg">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Student</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
</div>


<div class="container">

  <app-form></app-form>

</div>

</ng-template>
</div> -->
